@using TechAcadStudentsMVC.Models

@*    //@model means there is a model, and following it is its data type    *@
@model List<Instructor>

@{
  ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

@{ 
    foreach(Instructor instructor in Model)
     {                                            @* After model is declared at the top with @model, you can 
                                                    reference it anywhere in HTML with word Model. *@
        <h4>@instructor.FirstName</h4>
     }
}
