@using CarInsurance.ViewModels
@model List<InsureeVM>
@{
  ViewBag.Title = "Index";
}

<h2>Insurees and their quotes:</h2>

<table class="table">
  @foreach (var insuree in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => insuree.FirstName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => insuree.LastName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => insuree.Quote)
      </td>
    </tr>
  }

</table>





