@{
    ViewBag.Title = "Home Page";
}
<link type="text/css" href="~/Content/Site.css" />

<div class="jumbotron text-center">
    <h1 id="header">Best Insurance Company</h1>
    <p class="lead">Best Insurance Comany is here to make sure you get the best coverage at the best rate!</p>

</div>

<div class="row justify-content-md-center">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            We offer full or partial coverage to all drivers.  Click to get your quote!
        </p>
        <p><a class="btn btn-default" href="~/Insuree/Create">Get your quote today</a></p>
    </div>
</div>