@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The time of the server right now is:</h1>
  <h2>@DateTime.Now;</h2>
</div>
